.chartTypeSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.chartTypeButton {
  width: 12rem;
  padding: 0.25rem;
  background: none;
}

.active {
  background: var(--muted-color);
}
