.container {
  border-bottom: 1px solid var(--muted-color);
  padding-bottom: 0.5rem;
}

.summary {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.summaryContent {
  width: 100%;
}

.summaryContent:hover {
  cursor: pointer;
}
.summaryTitle {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  column-gap: 1rem;
}
.summaryTitle a {
  text-decoration: none;
  color: inherit;
}
.secondaryInfo {
  display: flex;
  justify-content: space-between;
}

.costInfo {
  display: flex;
  column-gap: 1rem;
}
.costItem {
  display: flex;
  column-gap: 0.5rem;
}

.fieldSet {
  display: flex;
  column-gap: 0.25rem;
}

.subTitle {
  flex-basis: 20rem;
  font-size: 0.9rem;
  color: var(--muted-color);
}
.moneyValue {
  color: var(--primary);
}
.title,
.subTitle,
.attribute {
  margin: 0.2rem;
}
.valueGroup {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.linkedValue {
  color: var(--primary);
} 
.inactiveTitle {
  text-decoration: line-through;
}

.label {
  font-weight: bold;
  color: var(--muted-color);
}

.attribute {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.label {
  max-width: 30rem;
  min-width: 20rem;
  margin-right: 0.35rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.id,
.divider {
  font-size: 1rem;
  color: var(--primary);
}

.hideShowButton {
  background: none;
  background-color: none;
  border: none;
  font-size: 1.15rem;
  text-align: right;
  padding: 0;
  width: 2rem;
  color: var(--primary);
}
.hideShowButton:focus {
  outline: none;
  box-shadow: none;
}

.itemDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
  padding: 3rem 0;
  margin: 0 1rem 0 2.8rem; /*hack to align the attribute values*/
}

.processedButton {
  margin-top: 1rem;
  background-color: var(--del-color);
  border: var(--del-color);
}

.chartArea {
  min-width: 50rem;
  max-width: 100%;
}
