.notFoundOfficeLabel {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 1rem 0 0;
  display: inline-block;
}

.officeId {
  font-size: 1rem;
  color: var(--primary);
}

.officeSelect {
  margin: 0 1rem;
  display: inline-block;
  color: red;
}

.officeSelectContainer {
  margin: 1rem 0;
}
