.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.subClassificationSection {
  margin-left: 1.5rem;
}

.range fieldset {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.inputNumber {
  padding: 0.55rem 0.5rem !important;
  height: 2rem !important;
  margin: 0 !important;
  width: 6rem !important;
}
.toWord {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
