.container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 10rem);
  column-gap: 5rem;
  /* overflow: hidden; */
}

.contentForm {
  flex-basis: calc(50% - 1rem);
}

.linkedItems {
  flex-basis: calc(50% - 1rem);
  position: relative;
}

.recordId {
  margin: 0 0.5rem;
  font-size: 0.75rem;
}

.unLinkSubmit {
  width: 10rem;
  position: absolute;
  top: 0;
  right: 1rem;
}

.unMatchedSearch {
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem 0 0;
}

.linkSubmit {
  width: 10rem;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
}

.spacer {
  height: 4rem;
}
