.container {
  padding: 0 1rem;
  /* overflow: hidden; */
}
.form {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.submitButton {
  margin-top: 0.75rem;
  width: 14rem;
}

.group {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 75%;
  min-width: 40rem;
  max-width: 70rem;
}

.matched {
  margin-left: 2rem;
}

.matchedToItem {
  display: flex;
  justify-content: space-between;
}

.inactiveTitle {
  text-decoration: line-through;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

.linkButton,
.inactivateButton {
  width: 18rem;
}
.inactivateButton {
  background: var(--del-color);
  border: 1px solid var(--del-color);
}

.summaryTitle {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  gap: 1rem;
}

.inactiveTitle {
  text-decoration: line-through;
}
