.container {
  padding: 0 1rem;
  /* overflow: hidden; */
}
.form {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.submitButton {
  margin-top: 0.75rem;
  width: 10rem;
}

.group {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 75%;
  min-width: 40rem;
  max-width: 70rem;
}

.matched {
  margin-left: 2rem;
}

.matchedToItem {
  display: flex;
  justify-content: space-between;
}

.linkButton {
  width: 10rem;
}

.matchedToItemTitle {
  font-weight: bold;
  font-size: 1.25rem;
}
