.container {
  display: flex;
  height: calc(100vh - 9rem);
  column-gap: 2rem;
  overflow: hidden;
}

.facets {
  flex-basis: 25rem;
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem;
  border-right: 1px solid var(--primary-inverse);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 2rem;
  overflow-y: auto;
  padding: 0 1rem;
}
