.pillbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.pill,
.more {
  border: 1px solid var(--primary);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  width: fit-content;

  &.selected {
    background-color: var(--primary-hover);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }
}

.more {
  background-color: var(--primary);
}

.checkbox {
  margin-right: 0.25rem;
}

.searchInput {
  position: relative;
  margin-bottom: 0;
}

.submitButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.includeOptions {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.keyWordsLabel {
  display: flex;
  column-gap: 2rem;
}
